}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #0790B0;
  font-size: 1.6rem;
  height: 100%;
}

nav ul {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -15px;
  background-color: #;
  z-index: 9;
}

nav ul li a {
  color: Black;
  text-decoration: none;
  float: left;
}

nav ul li a:hover {
  color: #052D6E;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 20px 15px;
  text-align: center;
}


li {
  display: inline-block;
  margin: 0px;
  padding: 10px;
}

#welcome-section {
  padding-top: 75px;
  margin-top: 125px;
  display: block;
  height: 100vh;
  text-align: center;
}

.aboutme {
  margin: 100px;
  text-align: center;
  display: block;
}

#projects {
  background-color: white;
  margin-bottom: 150px;
}

.project-header {
  margin-top: 150px;
}

.project-title {
  color: #052D6E;
  overflow: hidden;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 367px) {
    #comments {
        width: 80%;
    }
}
